@import 'components/carousel';


/*Resets*/
* {
	padding:0;
	margin:0;
	box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;
}

body {
	position: relative;
	background: snow;
	background-image: linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)), url('../images/bg1-resized.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

@media (min-width: 768px){
	body {
		overflow: hidden;
	}
}


/*layout styles*/

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	z-index: 1;
}


.row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
	flex-wrap: wrap;
}



.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}




@media (min-width: 768px){
	.col-md-4 {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}

	.col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-6 {
			flex: 0 0 50%;
			max-width: 50%;
		}

}





/*header styles*/

.headerContainer{
	margin: 10vh auto 0 auto;
	text-align: center;
}



.welcomeHeader {
	display: inline-block;
	color: white;
	font-weight: bold;
	border: 1px solid snow;
	padding: 15px 30px;
	border-radius: 5px;
	margin: 0 auto;
	box-shadow: -1px 1px 4px gray;
}

@media(max-width: 767.99px) {
	.welcomeHeader{
		margin: 10px;
		padding: 15px 15px;
	}

}



.lead {
	margin-top: 10px;
	font-size: 1.5rem;
	font-family: 'Raleway';
}
/* header end */



/* panels */

.contents {
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: stretch;
	margin-top: 20px;
}

.panel1, .panel2, .panel3 {
	flex-basis: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: stretch;
	color: snow;
}

.abtme, .skills, .exp, .contact, .projects {
	border: 1px solid white;
	flex: 0 0 auto;
	margin: 10px;
	border-radius: 8px;
	text-align: center;
	position: relative;
	overflow: hidden;
	box-shadow: -1px 1px 4px gray;

}



@media (min-width: 768px){
	.contents {
		flex-flow:  row nowrap;
		height: calc(85vh - 130px); /* 100vh - header&contents margin top + margins */
		margin-top: 5vh;
	}

	.panel1, .panel2, .panel3 {
		height: 100%;

	}


	.abtme, .skills, .exp, .contact, .projects {
		flex-basis: calc(50% - 10px); /* minus margin */
		transition: all .5s ease-in-out;
		order: 2;
	}

	.projects {
		flex-basis: 100%;
	}
}


/* panels end */






/* about me styling */

.pic {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 20px;
}


.abtme {
	text-align: center;
	min-width: 90px;
}

.abtme h3{
	height: 70px;
	background-color: rgba(14,20,95,.60);
	display: flex;
	align-items: center;
	justify-content: center;
}

.abtmeText {
	margin: 10px;
}

.abtmeText * {
	font-size: 1rem;
	line-height: 1.25rem;
	font-family: 'Raleway';
}


.abtmeText p + p {
	display: inline-block;
	margin-top: 1rem;
}

.moreText {
	display: none;
}


@media (min-width: 768px){
	.pic {
		top: 5px;
		left: 15px;
		opacity: 0;
		transition: opacity .3s ease-in;
	}

	.abtme h3{
		height: 60px;
		background-color: transparent;
		position: relative;
		top: calc(50% - 30px); /*less half height */
		z-index: -1;
		transition: top .3s ease-in-out, background-color .3s ease-in .2s;
	}

	.abtmeText {
		text-align: left;
		margin: 0;
		padding: 20px;
		height: 100%;
		opacity: 0;
		transition: all .2s ease-in .2s;
		background-color: rgba(0,0,0,.5)
	}

	.abtme:hover {
		flex-basis: 464px; /* content height, need to spcify for animation*/
		transition: all .3s ease-in;
		border-color: rgba(14,20,95,1);
	}


	.abtme:hover h3 {
		top: 0px;
		vertical-align: middle;
		background-color: rgba(14,20,95,.60);
	}
	
	
	.abtme:hover .abtmeText, .abtme:hover .pic {
		opacity: 1;
	}

	.abtme:hover ~ .skills {
		flex-basis: calc(100% - 484px); /*abt me height + margin*/
		min-height: 49px;
	}
	
}


@media (min-width: 768px) and (max-height: 780px) {

	.abtme:hover, .abtme:hover ~ .skills {
		transform: translateY(calc(85vh - 663px)); /* calculated to align resizes */
	}

}

/* about me end */



/* skills styling */

.skills h3{
	height: 60px;
	background-color: rgba(180,80,20,.60);
	display: flex;
	align-items: center;
	justify-content: center;
}


.icons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: center;
}


.icon {
	flex: 1 0 33.33%;
	width: 60px;
	height: 60px;
	margin: 20px auto;
}

.icon img {
	max-width: 100%;
	height: 100%;
}


.html5 img{
	transform: scale(1.25,1.2);
}



@media (min-width: 768px){
	.skills h3{
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		width: 100%;
		background: none;
		transition: opacity .3s ease-in;
	}

	.skills .icons {
		height: 100%;
		opacity: 0;
		transition: opacity .3s ease-in;
	}

	.skills:hover{
		border-color: #ffeb0080;
	}

	.skills:hover h3 {
		opacity: 0;
	}

	.skills:hover .icons{
		opacity: 1;
	}


}



/* skills end */




/* projects */

.projects .pHeader {
	padding:  5px 0;
	background: #33bb5580;
}

.pItemTitle {
	border-top: 2px solid #ca7e7e;
	border-bottom: 2px solid #ca7e7e;
	display: inline-block;
	margin: 0 auto;
}

.projecticons {
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 80%;
	margin: 8px auto;
	height: 30px;
}

.lh {
	transform: scale(1.4);
}

.iconContainer {
	flex: 1 0 20%;
	height: 100%;
}


.iconContainer * {
	height: 100%;
	width: 30px;
	color: #f0f0f0aa;
}



.pItem {
	width: calc(100% - 40px);
	height: calc(100% - 120px);
	margin: 10px auto;
	border: 1px solid #ca7e7e;
	border-radius: 5px;
}

.pItemContainer {
	display: none;
}

.lhub {
	background-image: url("../images/Lhub.png");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}








/* projects end */



.exp h3, .contact h3 {
	position: absolute;
	width: 100%;
	top: calc(50% - 11.5px);

}




/* easter egg */



#ee {
	position: fixed;
	left: 15px;
	top: 15px;
	font-size: 2rem;
	font-family: monospace;
	color: snow;
	z-index: 500;
}

#cbar {
	animation: blink 1s step-end infinite;
}

.rarrow {
	margin: 0;
	padding: 0;
	color:snow;
	transform: translateX(6px);
	display: inline;
	height: 1.4rem;
}

.hide {
	display:none;
}


@keyframes blink {
	to,from {color: transparent}
	50% {color: snow}
}





.burn {
	background-image: url('../images/explosion.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.thunder {
	background-image: url('../images/thunder.gif');
	background-repeat: no-repeat;
	background-size: cover;
}

.circles {
	background-image: url('../images/circles.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.fall {
	animation: fall 1.2s ease-in forwards;
}

@keyframes fall {
	50% {transform-origin: left top; transform: rotate(25deg)}
	100% {transform: translateY(100%)}
}



.burn > *, .circles > *{
	opacity: 0;
}

.pacman {
	position: absolute;
	top: -10vh;
	height: 120vh;
	width:calc(100vw + 120vh);
	z-index: 100;
	left: calc(-100% - 180vh);
	transition: all 3s linear;
	text-align: right;

	background-image: linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)), url('../images/bg1-resized.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.pacman img {
	height: 100%;
	transform: translateX(50%);
	
}


.movepacman {
	left: 0;
}













