/*Resets*/
* {
	padding:0;
	margin:0;
	box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif;
}

body {
	position: relative;
	background: snow;
	background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('../images/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}


/*layout styles*/

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
}


.row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
	flex-wrap: wrap;
}



.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}




@media (min-width: 768px){
	.col-md-4 {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}

	.col-md-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-6 {
			flex: 0 0 50%;
			max-width: 50%;
		}




}





/*header styles*/


.headerContainer{
	margin: 10vh auto 0 auto;
	text-align: center;
	
}

.welcomeHeader {
	display: inline-block;
	color: white;
	font-weight: : bold;
	border: 1px solid snow;
	padding: 15px 30px;
	border-radius: 5px;
}

.lead {
	margin-top: 10px;
	font-size: 1.5rem;
	font-family: 'Raleway';
}


/*cards*/

.contents {
	justify-content: space-around;
	align-items: center;
	height: calc(85vh - 110px);
	margin-top: 5vh;
}




.panel1, .panel2, .panel3 {
	flex-basis: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	color: snow;
}


.abtme, .skills, .exp, .contact, .projects {
	border: 1px solid white;
	flex-basis: 50%;
	margin: 10px;
	border-radius: 8px;
	text-align: center;
	max-height: 100%;
	transition: all .5s ease-in-out;
	overflow: hidden;
	position: relative;
}

.projects {
	flex-basis: 100%;
}


.pic {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	left: 20px;
	opacity: 0;
	transition: opacity .3s ease-in;
	z-index: 1;
}

.abtme {
	text-align: left;
	min-width: 90px;
}

.abtme h3{
	position: relative;
	top: calc(50% - 30px);
	display: block;
	margin: 0 auto;
	text-align: center;
	transition: all .3s ease-in-out;
	height: 60px;
	padding-top: 18.5px;
	z-index: -1;

}

.abtme:hover {
	flex-basis: 100%;
	transition: all .3s ease-in;

}

.abtmeText {
	opacity: 0;
	transition: all .3s ease-in-out;
	font-size: 1rem;
	line-height: 1.5rem;
	font-family: 'Raleway';
	margin: 10px 20px 0 20px;
}

@media(min-width: 768px) {
.abtme:hover ~ .skills {
	flex-basis: 0;
}
}

.abtme:hover h3 {
	top: 0px;
	vertical-align: middle;
	background-color: rgba(14,20,95,.66);
}



.abtme:hover .abtmeText, .abtme:hover .pic {
	opacity: 1;
}










































